.button{
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.login-button{
    background: blue;
    color: white;
}
.register-button{
    background-color: red;
    color: wheat;
}

.button:active{
    transform: scale(0.95);
}